<div class="row r1">
  <div class="col-md-12 title" style="text-align: center;">
    <h1>SOCIETARI</h1>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/menu">Home</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4 space">
      <label>Categoria</label>
      <select class="browser-default custom-select" required [(ngModel)]="categoria"
              id="categoria" (change)="cambiaGare()">
        <option valuew="''"></option>
        <option *ngFor="let cat of categorie; index as i;" [value]="cat.codiceCategoria">{{cat.codiceCategoria}}</option>
      </select>
    </div>

    <div class="col-md-4 space">
      <label>Metri</label>
      <select class="browser-default custom-select" required [(ngModel)]="metri" (change)="cambiaGare()">
        <option valuew="''"></option>
        <option *ngFor="let met of metriOption; index as i;" [value]="met">{{met}}</option>
      </select>
    </div>

    <div class="col-md-4 space">
      <label>Stile</label>
      <select class="browser-default custom-select" required [(ngModel)]="stile" (change)="cambiaGare()">
        <option valuew="''"></option>
        <option *ngFor="let stile of stili; index as i;" [value]="stile.descrizione">{{stile.descrizioneBreve}}</option>
      </select>
    </div>

    <div class="col-md-4 space">
      <label>Vasca</label>
      <select class="browser-default custom-select" required [(ngModel)]="vasca" (change)="cambiaGare()">
        <option valuew="''"></option>
        <option value="Lunga">LUNGA</option>
        <option value="Corta">CORTA</option>
      </select>
    </div>

    <div class="col-md-4 space">
      <label>Sesso</label>
      <select class="browser-default custom-select" required [(ngModel)]="sesso" (change)="cambiaGare()">
        <option valuew="''"></option>
        <option value="M">Maschi</option>
        <option value="F">Femmine</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3" *ngFor="let gara of gareFiltrate">
    <div class="col-md-12" *ngIf="checkVisibility(gara) || caricamento" style="padding: 35px;">
      <div style="padding: 16px; border-radius: 4px; border: solid 1px;">
        <p>
          {{gara.nome}} {{gara.cognome}}
        </p>
        <p>
          {{gara.codiceSesso}} {{gara.gara.nomeGara}} {{gara.gara.categoria}}
        </p>
        <p>
          {{gara.gara.vasca}} {{gara.gara.tempo}}
        </p>
      </div>
    </div>
  </div>

</div>
