
<div class="center" style="padding: 300px; width: 300px" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row">
  <div class="col" style="height: 400px; overflow-y: scroll; width: 100%; ">
    <div class="col mt-2" *ngFor="let m of messaggi" >
      <div style="text-align: left;" *ngIf="m.owner != owner"> {{m.messaggio}} </div>
      <div style="text-align: right;" *ngIf="m.owner == owner"> {{m.messaggio}} </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-11 pl-4">
    <input style="width: 100%; height: 100%" type="text" [(ngModel)]="testo">
  </div>
  <div class="col-1" *ngIf="owner">
    <button (click)="invia()" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Invia" style="float: right;">
      Invia
    </button>
  </div>
  <div class="col-1" *ngIf="!owner">
    <button (click)="carica()" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Carica" style="float: right;">
      Carica
    </button>
  </div>



</div>

<div class="row mt-2">
  <div class="col" *ngIf="owner">
    <button (click)="carica()" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Carica">
      Ricarica
    </button>
  </div>
</div>












