
<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <h1>LOGIN</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <input matInput type="text" title="Username" placeholder="Username">
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <input matInput type="text" title="Password" placeholder="Password">
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <button [routerLink]="['/menu']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Tooltip on right">
      Enter
    </button>
  </div>
</div>








