<div class="row r1">
  <div class="col-md-12 title" style="text-align: center;">
    <h1>MENU</h1>
  </div>
</div>


<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-title>Ricerca atleti</mat-card-title>
      <mat-card-subtitle>Ricerca per atleta</mat-card-subtitle>
      <mat-card-actions>
        <button [routerLink]="['/atleti']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Ricerca gare per atleta">
          Cerca
        </button>
        <button *ngIf="checkSuperUser()" [routerLink]="['/add-record']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Aggiungi gare">
          Add record
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-card>
        <mat-card-title>Record societari</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-actions>
          <button [routerLink]="['/societari']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Ricerca tutti i record societari">
            Tutti i record
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <mat-card>
        <mat-card-title>Start List</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-actions>
          <button [routerLink]="['/start-list']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Scarica start list">
            Download start list
          </button>
          <button *ngIf="false" [routerLink]="['/dump']" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Scarica start list">
            Download start list
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
