<div class="row r1">
  <div class="col-md-12 title" style="text-align: center;">
    <h1>START LIST</h1>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/menu']">Home</a>
  </div>
</nav>

<div class="center" style="padding: 200px;" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>



<div class="container" style="margin-top: 100px;" *ngIf="!loading">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nome file</th>
      <th scope="col">Data upload</th>
      <th scope="col">DOWNLOAD</th>
    </tr>
    </thead>
    <tbody *ngFor="let file of fileList; index as i">
    <tr>
      <td>{{ file.nome }} </td>
      <td>{{ file.data | date:'dd/MM/yyyy' }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="download(file.nome)">
          <i style='font-size:24px' class='fas'>&#xf773;</i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
