<mat-card style="margin: 20px;">

  <mat-card-title>{{macchina.macchina.nome}}</mat-card-title>
  <mat-card-subtitle>Veicolo di {{macchina.macchina.proprietario}}</mat-card-subtitle>


  <div class="row">
    <div class="col-xs col-sm col-md col-lg" *ngIf="macchina.macchina.andata">
      <mat-card style="margin: 10px;">
        <mat-card-title>ANDATA</mat-card-title>
        <mat-card-subtitle>Posti {{macchina.macchineUtentiListAndata.length}}/{{macchina.macchina.postiAndata}}</mat-card-subtitle>
        <mat-card-content>
          <p *ngFor="let p of macchina.macchineUtentiListAndata">{{p}}</p>
          <p class="posto-libero" *ngFor="let f of [].constructor(macchina.macchina.postiAndata - macchina.macchineUtentiListAndata.length)">POSTO LIBERO</p>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="getIfHasToRide() || macchina.macchineUtentiListAndata.includes(this.getFullName()) || (prenotazione.andataP && !macchina.macchineUtentiListAndata.includes(this.getFullName()))" (click)="entra(1)" type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Entra in macchina">
            Entra
          </button>
          <button [disabled]="getIfHasToRide() || !macchina.macchineUtentiListAndata.includes(this.getFullName())" (click)="esci(1)"  type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Aggiungi gare" style="float: right;">
            Esci
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-xs col-sm col-md col-lg" *ngIf="macchina.macchina.ritorno">
      <mat-card style="margin: 10px;">
        <mat-card-title>RITORNO</mat-card-title>
        <mat-card-subtitle>Posti {{macchina.macchineUtentiListRitorno.length}}/{{macchina.macchina.postiRitorno}}</mat-card-subtitle>
        <mat-card-content>
          <mat-card-content>
            <p *ngFor="let p of macchina.macchineUtentiListRitorno">{{p}}</p>
            <p class="posto-libero" *ngFor="let f of [].constructor(macchina.macchina.postiRitorno - macchina.macchineUtentiListRitorno.length)">POSTO LIBERO</p>
          </mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button [disabled]="getIfHasToRide() || macchina.macchineUtentiListRitorno.includes(this.getFullName()) || (prenotazione.ritornoP && !macchina.macchineUtentiListRitorno.includes(this.getFullName()))" (click)="entra(2)" type="button" class="btn btn-outline-secondary mr-2" placement="left" ngbTooltip="Ricerca gare per atleta">
            Entra
          </button>
          <button [disabled]="getIfHasToRide() || !macchina.macchineUtentiListRitorno.includes(this.getFullName())" (click)="esci(2)" type="button" class="btn btn-outline-secondary mr-2" placement="right" ngbTooltip="Aggiungi gare" style="float: right;">
            Esci
          </button>
        </mat-card-actions>
      </mat-card>
    </div>





  </div>


  <p>{{macchina.macchina.note}}</p>



</mat-card>
